server:
  port: 8085

spring:
  application:
    name: contract-service

  datasource:
    url: jdbc:postgresql://localhost:5432/contract_db
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: debug

management:
  endpoints:
    web:
      exposure:
        include: health,info