server:
  port: 8083

spring:
  application:
    name: job-service

  datasource:
    url: jdbc:postgresql://localhost:5432/job_db
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: debug

management:
  endpoints:
    web:
      exposure:
        include: health,info

app:
  jwt:
    secret: change-this-secret-key-to-at-least-32-characters-long-for-dev
    access-token-expiration-ms: 900000
    refresh-token-expiration-ms: 604800000
