server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      default-filters:
        - RemoveRequestHeader=Cookie
      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "${APP_CORS_ALLOWED_ORIGIN:http://localhost:3000}"
            allowedMethods:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true
      routes:
        - id: auth-service
          uri: ${AUTH_SERVICE_URL:http://localhost:8081}
          predicates:
            - Path=/auth/**

        - id: user-service
          uri: ${USER_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=/users/**

        - id: proposal-service-by-job
          uri: ${PROPOSAL_SERVICE_URL:http://localhost:8084}
          predicates:
            - Path=/jobs/*/proposals

        - id: job-service
          uri: ${JOB_SERVICE_URL:http://localhost:8083}
          predicates:
            - Path=/jobs/**

        - id: proposal-service
          uri: ${PROPOSAL_SERVICE_URL:http://localhost:8084}
          predicates:
            - Path=/proposals/**

        - id: contract-service
          uri: ${CONTRACT_SERVICE_URL:http://localhost:8085}
          predicates:
            - Path=/contracts/**

        - id: contract-service-milestones
          uri: ${CONTRACT_SERVICE_URL:http://localhost:8085}
          predicates:
            - Path=/milestones/**

        - id: notification-service
          uri: ${NOTIFICATION_SERVICE_URL:http://localhost:8086}
          predicates:
            - Path=/notifications/**

logging:
  pattern:
    level: "%5p [cid:%X{correlationId:-}]"

management:
  endpoints:
    web:
      exposure:
        include: health,info

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
