server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      default-filters:
        - RemoveRequestHeader=Cookie
      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - PATCH
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**

        - id: user-service
          uri: http://localhost:8082
          predicates:
            - Path=/users/**

        - id: job-service
          uri: http://localhost:8083
          predicates:
            - Path=/jobs/**

        - id: proposal-service
          uri: http://localhost:8084
          predicates:
            - Path=/proposals/**

        - id: contract-service
          uri: http://localhost:8085
          predicates:
            - Path=/contracts/**

management:
  endpoints:
    web:
      exposure:
        include: health,info
